$primaryText : #58402C;
$backDark : #FFE7D2;
$hover : #30488F;

@mixin oldRow {
  content: "";
  display: table;
  clear: both;
}

@mixin newRow {
  display: flex;
  flex-wrap: wrap;
}

@mixin gutter {
  padding: 20px 40px;
  margin: 115px 0;
}

@mixin button {
  padding: 10px 15px;
  background-color: $hover;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  font-family: 'Lato', sans-serif;
  color: $primaryText;
}

h1{
  font-size: 50px;
  padding: 0 50px;
  margin-bottom: 40px;
}
