header {
  margin-bottom: 40px;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;

  nav{
    line-height: 75px;
    padding: 0 40px;

    &:after{
      @include oldRow;
      display: block;
      border-bottom: 1px solid #bdb5af;
    }

    > .nav-left{
      float: left;

      > img{
        vertical-align: middle;
      }
    }

    > .nav-right{
      float: right;

      ul {
        list-style: none;

        > li {
          display: inline-block;
          margin: 0 15px;
          font-weight: bold;
          font-size: 14px;

          &:hover{
            color: #30488F;
            cursor: pointer;
          }
        }
      }
    }
  }

}
