main{

  > section{
    @include gutter;
  }

  .hero{
    text-align: center;

    > span {
      font-size: 22px;
    }

    .log-hero{
      margin: 40px 0;

      .button{
        @include button;

        &:hover{
          background-color: darken($hover, 10%);
        }
      }

      span {
        margin: 0 10px;
      }
    }

    > .log-hero-low > *{
      display: block;
    }

    >.log-hero-low > img{
      max-width: 80%;
      margin: auto;
    }
  }

  .backdark{
    background-color: $backDark;

    h2{
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }

    > div{
      @include newRow;
      justify-content: space-around;

      > .figure{
        flex-basis: 20%;

        img {
          max-height: 100px;
        }
      }
    }

    .onepic{
      margin: 50px 0;

      .coniglio{
        max-width: 280px;
        max-height: 280px;
      }
    }
  }
}
